.navbar {
    background-color: #007bff;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #e2e6ea;
}

.container {
    margin-top: 20px;
    color: #333; /* 文字色を変更 */
}

.content {
    flex: 1;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

body {
    background-image: url('../images/office.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333; /* 文字色を変更 */
}

p {
    color: #555; /* pタグの文字色を変更 */
}

h1 {
    color: #555; /* h1タグの文字色を変更 */
}

footer {
    margin-top: auto;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    flex: 1 1 calc(25% - 1rem);
    box-sizing: border-box;
}

